body {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  font-family: 'Lato', sans-serif;
}

article {
  background-color: white;
}

section.luffy, h2, .bottomnav, article {
  padding: 2vw 2vw;
}

h2 {
  text-align: center;
  color: #a90000;
}

section.luffy {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 410px;
  width: 100%;
}

article {
  text-align: justify;
  border: 1px solid black;
  border-radius: 25px;
  margin-right: 1vw;
}

.topnav {
  background-color: #F99F38;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #a90000;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #a90000;
  color: #F99F38;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: green;
  color: green;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
  display: none;
}

/* Justerar bilderna */
img.left {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img.middle {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img.right {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Justerar bilderna ends */
.topnav {
  border: 1px solid black;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}

.bottomnav {
  background-color: #F99F38;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
}

footer {
  color: black;
}

.top {
  margin-left: 10px;
  margin-bottom: 10px;
}

nav {
  font-size: 20px;
}

u {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottomnav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}